<div style="min-height: 200px;" class="col-12" id="{{ id }}" data-plugin="datatable" data-settings='{{ datatable_settings(datatable)|raw }}'>
    <div class="loader vertical-align-middle loader-round-circle middle-loader"></div>
</div>